<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All chats</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h3>Welcome to Whatsapp version 3</h3>

    <form action="/chats/new" method="get">
        <button class="newChat">new chat</button>
        <br><br>
    </form>
    
<% for(let chat of chats){ %>
    <div class="chat">
      <p>
          From : <%= chat.from %>
      </p>
      <div class="msg">
          <p>msg : <%= chat.msg %></p>
      </div>
      <p>
        <form action="/chats/<%= chat._id %>/edit">
            <button class="opt">Edit message</button>
        </form>
      </p>
      <p>
        <form action="/chats/<%= chat._id %>?_method=DELETE" method="post">
            <button class="opt">Delete message</button>
        </form>
      </p>
      <p>
          recieved by : <%= chat.to %>
      </p>
      <hr>
      <p>
        <%= chat.created_at.toString().split(" ")[4] %>
      </p>
      <p>
        <%= chat.created_at.toString().split(" ").slice(0,4).join(" ") %>
      </p>
    </div>
    <br>
  <% } %>

  
</body>
</html>
